{% if fields.use_default_values == true %}
	{% set moreButton = __('Read More', 'Global Theme') %}
	{% set lessButton = __('Read Less', 'Global Theme')  %}
{% else %}
	{% set moreButton = fields.more_button %}
	{% set lessButton = fields.less_button %}		
{% endif %}

{% set previewText = fields|merge({standard_content_box_text_content : fields.preview_text, enable_standard_content_box: true}) %}
{% set mainText = fields|merge({standard_content_box_text_content : fields.main_text, enable_standard_content_box: true}) %}	

{% if fields.desktop_default_text_colour %}
	{% set defaultTextColourDesktop = '--default-text-colour-desktop: ' ~ fields.desktop_default_text_colour|ru ~ ';' %}
{% endif %}
{% if fields.portrait_default_text_colour %}
	{% set defaultTextColourPortrait = '--default-text-colour-portrait: ' ~ fields.portrait_default_text_colour|ru ~ ';' %}
{% endif %}
{% if fields.mobile_default_text_colour %}
	{% set defaultTextColourMobile = '--default-text-colour-mobile: ' ~ fields.mobile_default_text_colour|ru ~ ';' %}
{% endif %}
{% set moreLessFontSizeMultiplier = '--more-less-font-size-multiplier: ' ~ fields.moreless_font_size_multiplier|ru ~ '%;' %}

<div class="truncated-text">
	<div class="truncated-text__preview">
		{{ include('components/standard-content-box.twig', {fields : previewText, block : block, blockClassName : blockClassName}, with_context = false) }}
	</div>
	<div class="truncated-text__remainder-text">
		{{ include('components/standard-content-box.twig', {fields : mainText, block : block, blockClassName : blockClassName}, with_context = false) }}
	</div>
	<div class="truncated-text__toggle {{fields.moreless_font_size|ru|default('p-sizing') }}" data-open="{{lessButton}}" data-close="{{moreButton}}" style="{{defaultTextColourDesktop ~ defaultTextColourPortrait ~ defaultTextColourMobile ~ moreLessFontSizeMultiplier }}"></div>
</div>