{# {% set videoEnabled = fields.enable_video %}
{% set renderDynamic = fields.child_pattern_settings.render_dynamic|default(0) %}
{% set videoPlayingZindexClass = fields.video_playing_high_z_index ? 'video-playing--high-z-index' : '' %}
{% if videoEnabled %}
	{% set videoType = fields.video_type|ru %}
	{% set youtubeEmbed = fields.youtube_embed|default(false) %}
	{% if 'data-src="' in youtubeEmbed %}
		{% set youtubeDesktopParts = youtubeEmbed|split('data-src="') %}
	{% elseif 'src="' in youtubeEmbed %}
		{% set youtubeDesktopParts = youtubeEmbed|split('src="') %}
	{% endif %}
	{% set youtubeDesktopUrl = youtubeDesktopParts[1]|split('"')[0] %}
	{% set youtubeDesktopId = youtubeDesktopUrl|split('/embed/')|last|split('?')|first %}
	{% set youtubeMobile = fields.youtube_mobile %}
	{% if 'data-src="' in youtubeMobile %}
		{% set youtubeMobileParts = youtubeMobile|split('data-src="') %}
	{% elseif 'src="' in youtubeMobile %}
		{% set youtubeMobileParts = youtubeMobile|split('src="') %}
	{% endif %}
	{% set youtubeMobileUrl = youtubeMobileParts[1]|split('"')[0] %}
	{% set youtubeMobileId = youtubeMobileUrl|split('/embed/')|last|split('?')|first|default(youtubeDesktopId) %}
	{% set vimeoEmbed = fields.vimeo_embed|default(false) %}
	{% if 'data-src="' in vimeoEmbed %}
		{% set vimeoDesktopParts = vimeoEmbed|split('data-src="') %}
	{% elseif 'src="' in vimeoEmbed %}
		{% set vimeoDesktopParts = vimeoEmbed|split('src="') %}
	{% endif %}
	{% set vimeoDesktopUrl = vimeoDesktopParts[1]|split('"')[0] %}
	{% set vimeoDesktopId = vimeoDesktopUrl|split('/video/')|last|split('?')|first %}
	{% set vimeoMobile = fields.vimeo_mobile %}
	{% if 'data-src="' in vimeoMobile %}
		{% set vimeoMobileParts = vimeoMobile|split('data-src="') %}
	{% elseif 'src="' in vimeoMobile %}
		{% set vimeoMobileParts = vimeoMobile|split('src="') %}
	{% endif %}
	{% set vimeoMobileUrl = vimeoMobileParts[1]|split('"')[0] %}
	{% set vimeoMobileId = vimeoMobileUrl|split('/video/')|last|split('?')|first|default(vimeoDesktopId) %}
	{% set videoDesktop = fields.video_desktop|default(false) %}
	{% set videoMobile = fields.video_mobile|default(false) %}
	{% set autoplayVideo = fields.autoplay %}
	{% set autoplayVideoMobile = fields.mobile_autoplay %}
	{% if autoplayVideo == false %}
		{% set autoplayVideo = 0 %}
		{% set autoplayVideoMobile = 0 %}
	{% endif %}
	{% if autoplayVideoMobile == false and autoplayVideoMobile is not null %}
		{% set autoplayVideoMobile = 0 %}
	{% endif %}
	{% if autoplayVideo == true and autoplayVideoMobile is null %}
		{% set autoplayVideoMobile = 1 %}
	{% endif %}
	{% set fullscreen = fields.fullscreen %}
	{% set loopVideo = fields.loop %}
	{% set controls = fields.controls ? 1 : 0 %}
	{% set modal = fields.modal %}
	{% set playsInModal = fields.modal %}
	{% set muted = fields.muted %}
	{% set lockVideoAspectToImage = fields.lock_video_aspect_to_image ? 'lock-video-aspect-to-image' : '' %}
	{% set setVideoToCover = fields.set_video_to_cover ? 'set-video-to-cover' : '' %}
	{% set captionsEnabled = fields.enable_captions|default(false) %}
	{% set captions = fields.captions %}
	{% set videoId = block.videoIdPrefix ~ fields.video_trigger_id %}
	{% set captionsFile = fields.captions.0.captions_file %}
	{% set noAudioCaptions = fields.enable_no_audio_captions %}

	<div data-videoid="{{videoId}}" data-videocontainerid="{{fields.video_trigger_id}}" data-desktopvideo="{{gt_video_mainsrc(videoDesktop['url'])}}" data-youtubedesktop="{{youtubeDesktopId}}" data-youtubemobile="{{youtubeMobileId}}" data-vimeo-desktop-url="{{vimeoDesktopUrl}}" data-vimeo-mobile-url="{{vimeoMobileUrl}}" data-vimeodesktopid="{{vimeoDesktopId}}" data-vimeomobileid="{{vimeoMobileId}}" data-mobilevideo="{{gt_video_mainsrc(videoMobile['url'])}}" class="{{blockClassName}}__video-container cblvc-video-container {{lockVideoAspectToImage}} {{videoPlayingZindexClass}} {{setVideoToCover}}" data-videotype="{{videoType}}" data-loop="{{loopVideo}}" data-modal="{{modal}}" data-controls="{{controls}}" data-autoplay="{{autoplayVideo}}" data-autoplay-mobile="{{autoplayVideoMobile}}" data-fullscreen="{{fullscreen}}" data-muted="{{muted}}" data-videoenabled="{{videoEnabled}}" data-pattern-dynamic="1">
		<div class="{{blockClassName}}__video-inner-container cblvc-video-container__video-inner-container" data-pattern-type>
			{% if videoType == 'upload' %}
				<video class="{{blockClassName}}__video-player cblvc-video-container__video-player" {{muted ? 'muted' : ''}} playsinline width='{{videoDesktop.width}}' height='{{videoDesktop.height}}'>
					<source src="" type="video/mp4">
					{% if captionsEnabled == true and noAudioCaptions %}
						<track src={{ asset('no-audio.vtt') }} srclang="en" label="english" kind="captions"/>

					{% elseif captionsEnabled == true and not noAudioCaptions and captions is not empty %}
						{% for caption in captions %}
							<track src="{{ caption.captions_file.url }}" srclang="{{ caption.language_code }}" label="{{ caption.caption_label }}" kind="captions"/>
						{% endfor %}
					{% endif %}

				</video>
			{% endif %}
			{% if videoType == 'youtube' %}
				<div id="yt-{{videoId}}"></div>
			{% endif %}
			{% if videoType == 'vimeo' %}
				<div id="vimeo-{{videoId}}-{{vimeoDesktopId}}" style="width: 100%"></div>
			{% endif %}
		</div>
	</div>
{% endif %} #}
