{% set postObject = current_post %}

{% if postObject.meta.enable_buy_button %}

	<div class="sticky-buy-cta-v3">

			{% if item.cta_style|ru matches '/^\\d+$/' %}
				{% set ctaData = attribute(cta_styles['theme_cta_styles'], item.cta_style|ru - 1) %}
				{% set enableCtaAnimation = ctaData.cta_settings.enable_cta_animation %}
				{% set enableCtaIcon = ctaData.cta_settings.include_cta_icon %}
				{% set ctaAnimationStyle = ctaData.cta_settings.cta_animation_style %}
			{% endif %}

		{% if postObject.meta.buy_now_cta is defined and postObject.meta.buy_now_cta|remove_underscore == 'prctb' %}
		
			{% if current_post.id is defined and current_post.id is not empty %}
				<div class="sticky-buy-cta-v3__cta-wrapper">
					{% apply shortcodes %}
						[clicktobuy class="sticky-buy-cta-v3__cta-button cmpl-cta-style-{{postObject.meta.cta_style}} cmpl-cta-animation-style-{{enableCtaAnimation ? postObject.meta.ctaAnimationStyle : '1'}} cream-hover has-shop shop-ctb" lang="{{ postObject.meta.buy_now_ctb.language }}" variant="{{ postObject.product_details.id }}" country="{{ postObject.meta.buy_now_ctb.country }}" customQueryString="{{ postObject.meta.buy_now_ctb.custom_query_string }}"]
							<span class="cmpl-cta-span">{{ postObject.meta.cta_text }}</span>
						[/clicktobuy]
					{% endapply %}
				</div>
			{% endif %}

			{% elseif postObject.meta.buy_now_cta is defined and postObject.meta.buy_now_cta|remove_underscore == 'shopify' %}

				<div class="sticky-buy-cta-v3__cta-wrapper">
					{% if postObject.meta.buy_now_shopify.pim is defined %}
						{% set label = (postObject.meta.cta_button_text is defined and postObject.meta.cta_button_text|remove_underscore == 'pre-order')
							? __( 'Pre-Order', 'The Glenlivet Theme' )
							: __( 'Add To Cart', 'The Glenlivet Theme' )
						%}

						<div class="buy-now-wrapper shopify-integration has-shop shop-shopify has-price" data-pim="{{ postObject.meta.buy_now_shopify.pim }}" data-label="{{ label }}"
							{% if postObject.meta.buy_now_price is defined and postObject.meta.buy_now_price is not empty %}
								data-price="{{ postObject.meta.buy_now_price }} {{ postObject.meta.currency }}"
							{% endif %}>
						</div>
					{% endif %}

					{% if postObject.meta.buy_now_shopify.engraved_bottle == true and postObject.meta.buy_now_shopify.engraved_pim is not empty %}

						<div class="buy-now-wrapper shopify-integration has-shop shop-shopify has-price engraved" data-pim="{{ postObject.meta.buy_now_shopify__engraved_pim }}" data-engraved="{{true}}" data-label="{{ __( 'Buy Engraved', 'The Glenlivet Theme' ) }}" 
							{% if postObject.meta.buy_now_shopify.engraved_price is defined and postObject.meta.buy_now_shopify.engraved_price is not empty %}
								data-price="{{ postObject.meta.buy_now_shopify.engraved_price }} {{ postObject.meta.currency }}"
							{% endif %}>
						</div>
					{% endif %}
				</div>

			{% elseif postObject.meta.buy_now_cta is defined and postObject.meta.buy_now_cta|remove_underscore == 'direct_link' %}
				<div class="sticky-buy-cta-v3__cta-wrapper">
					<a href={{ postObject.meta.direct_link_url }} class="sticky-buy-cta-v3__direct-link cmpl-cta-style-{{postObject.meta.cta_style}} cmpl-cta-animation-style-{{enableCtaAnimation ? postObject.meta.ctaAnimationStyle : '1'}}" 
						{% if postObject.meta.open_in_a_new_tab is defined and postObject.meta.open_in_a_new_tab|remove_underscore == 'true' %} target="_blank" {% endif %}>
							<span class="cmpl-cta-span">{{ postObject.meta.cta_text }}</span>
					</a>
				</div>
				
			{% elseif gtp_language_code() == 'en-us' and postObject.meta.buy_now_cta|remove_underscore == 'pr_usa_reservebar' %}
				<div class="sticky-buy-cta-v3__rb-wrapper">
					<h3 class="sticky-buy-cta-v3__rb-title">{{ __( 'Enter delivery address to check online availability', 'The Glenlivet Theme' ) }}</h3>
					<div liquid-address-typeahead></div>
					<div liquid-id="GROUPING-{{ postObject.meta.pr_usa_reservebar_grouping_id }}">
						<div class="sticky-buy-cta-v3__rb-fulfillment" liquid-fulfillment-method-selector></div>
						<div class="sticky-buy-cta-v3__rb-button" liquid-atc onclick="liquidSDK.cart.toggle();"></div>
					</div>
				</div>
		{% endif %}
	</div>
{% endif %}