
{% set blockClassName = "betterreviews-display-v3" %}
{% set classNameEntryPoint = include('entry-points/entry-point-classes.twig', { fields: fields, block: block }, with_context = false) %}
{% set htmlEntryPoint = include('entry-points/entry-point-html.twig', { fields: fields, block: block, blockClassName, blockClassName }, with_context = false) %}
{% set dataAttributeEntryPoint = include('entry-points/entry-point-data-attribute.twig', { fields: fields, block: block }, with_context = false) %}
{% set styleEntryPoint = include('entry-points/entry-point-style.twig', { fields: fields, block: block, is_preview }, with_context = false) %}
{% set previewEntryPoint = include('entry-points/entry-point-preview-info.twig', { fields, block, displaytype, is_preview }, with_context = false) %}

{% set featureEnabled = environment != 'prod' %}

{% set post = get_post(fields.better_reviews_post) %}

{% set sectionStyles =  styleEntryPoint %}

{% if featureEnabled %}
	{{previewEntryPoint}}
	<section {{block.anchor ? "id=" ~ block.anchor : ''}} class="{{blockClassName}} {{block.className}} {{classNameEntryPoint}} lazy-fade" {{dataAttributeEntryPoint}} data-blockid="{{block.id}}" data-blockid="{{block.id}}" style="{{sectionStyles}}" data-assetkey="{{blockClassName}}">
		<div class="{{blockClassName}}__content">
			{% if post.id and fields.better_reviews_display_options %}
				[better-reviews post_id="{{ post.id }}" display="{{fields.better_reviews_display_options|join(', ')|replace({'__': ""})}}"]
			{% endif %}
		</div>
		{{htmlEntryPoint}}
	</section>
{% endif %}
