{% set blockClassName = "site-title-and-tagline" %}
{% set classNameEntryPoint = include('entry-points/entry-point-classes.twig', { fields, block }, with_context = false) %}
{% set htmlEntryPoint = include('entry-points/entry-point-html.twig', { fields, block, blockClassName, options, environment, is_preview, nav_menus }, with_context = false) %}
{% set dataAttributeEntryPoint = include('entry-points/entry-point-data-attribute.twig', { fields, block }, with_context = false) %}
{% set styleEntryPoint = include('entry-points/entry-point-style.twig', { fields, block, displaytype, is_preview }, with_context = false) %}
{% set previewEntryPoint = include('entry-points/entry-point-preview-info.twig', { fields, block, displaytype, is_preview }, with_context = false) %}

{% set sectionStyles =  styleEntryPoint ~ titleFontFamily ~ titleFontSizeDesktop ~ titleFontSizePortrait ~ titleFontSizeMobile ~ taglineFontFamily ~ taglineFontSizeDesktop ~ taglineFontSizePortrait ~ taglineFontSizeMobile %}
<style>
	.{{blockClassName}}.{{block.id}}{
		{{sectionStyles}}
	}
</style>
<section {{block.anchor ? "id=" ~ block.anchor : ''}} class="{{blockClassName}} {{block.className}} {{classNameEntryPoint}} {{block.id}} lazy-fade" {{dataAttributeEntryPoint}} data-blockid="{{block.id}}" data-assetkey="{{blockClassName}}">
	<div class="{{blockClassName}}__inner-container">
		{% if fields.enable_site_title %}
			<div class="{{blockClassName}}__title cmpl-cta-style-{{fields.title_cta_style}}">{{site.title}}</div>
		{% endif %}
		{% if fields.enable_site_tagline  %}
			<div class="{{blockClassName}}__tagline cmpl-cta-style-{{fields.tagline_cta_style}}">{{site.description}}</div>
		{% endif %}
	</div>
	{{htmlEntryPoint}}
</section>
