{% set blockClassName = "standard-content-v3" %}
{% set displaytype = 'grid' %}
{% set classNameEntryPoint = include('entry-points/entry-point-classes-v3.twig', { fields, block }, with_context = false) %}
{% set htmlEntryPoint = include('entry-points/entry-point-html-v3.twig', { fields, block, blockClassName, options, cta_styles, environment,  is_preview, nav_menus, imageSizes }, with_context = false) %}
{% set dataAttributeEntryPoint = include('entry-points/entry-point-data-attribute.twig', { fields, block }, with_context = false) %}
{% set styleEntryPoint = include('entry-points/entry-point-style-v3.twig', { fields, block, displaytype, is_preview }, with_context = false) %}
{% set previewEntryPoint = include('entry-points/entry-point-preview-info.twig', { fields, block, displaytype, is_preview }, with_context = false) %}

{% set sectionStyles = styleEntryPoint ~ gradientStyleString ~ blurStyleString ~ coverLinkHover %}
{{previewEntryPoint}}
<style>
	.{{blockClassName}}.{{block.id}}{
		{{sectionStyles}}
	}
</style>
<section {{ block.anchor ? 'id=' ~ block.anchor : '' }} class="{{blockClassName}} {{ block.id }} lazy-fade {{fields.section_class}} {{classNameEntryPoint}}" {{dataAttributeEntryPoint}} data-assetkey="{{blockClassName}}">

	{% set contentContainerStyles =  include('components/content-box-settings-v3.twig', { fields, block, blockClassName }, with_context = false) %}
	<style>
		.{{blockClassName}}__inner-container.{{block.id}}{
			{{contentContainerStyles}}
		}
	</style>
	{% set currentBlockId = block.id %}
	<div class="{{blockClassName}}__inner-container {{block.id}}">
		{% for item in fields.content_sections %}
			{% if block %}
				{% set block = block|merge({'anchor' : ''}) %}
				{% set block = block|merge({'id' : block.id ~ '-' ~ loop.index}) %}
				{% set block = block|merge({'className' : ''}) %}
			{% endif %}
			{% set path = '' %}
			{% if item.acf_fc_layout == 'spacer_v3' or item.acf_fc_layout == 'divider_v3' or item.acf_fc_layout == 'breadcrumb_display' or item.acf_fc_layout == 'block_interactions_v3' %}
				{% set path = 'blocks' %}
			{% else %}
				{% set path = 'components' %}
			{% endif %}
			{{ include(path ~ '/' ~ (item.acf_fc_layout|replace({ '_': '-' })) ~ '.twig', { fields: item, block, contentImageSizes, blockClassName, options, nav_menus, cta_styles}, with_context = false, ignore_missing = true) }}
		{% endfor %}
	</div>

	{% if fields.animations.enable_animations %}
		{{ include('components/animations-style-v3.twig', { fields, block, blockClassName }, with_context = false) }}
	{% endif %}

</section>
