{% set blockClassName = "modal-form-v3" %}
{% set classNameEntryPoint = include('entry-points/entry-point-classes.twig', { fields: fields, block: block }, with_context = false) %}
{% set htmlEntryPoint = include('entry-points/entry-point-html-v3.twig', { fields: fields, block: block, blockClassName, blockClassName }, with_context = false) %}
{% set dataAttributeEntryPoint = include('entry-points/entry-point-data-attribute.twig', { fields: fields, block: block }, with_context = false) %}
{% set styleEntryPoint = include('entry-points/entry-point-style.twig', { fields: fields, block: block, is_preview }, with_context = false) %}
{% set previewEntryPoint = include('entry-points/entry-point-preview-info.twig', { fields, block, displaytype, is_preview }, with_context = false) %}

{% set sectionStyles =  styleEntryPoint %}

{{previewEntryPoint}}

<section {{block.anchor ? "id=" ~ block.anchor : ''}} class="{{blockClassName}} {{block.className}} {{classNameEntryPoint}} lazy-fade" {{dataAttributeEntryPoint}} data-blockid="{{block.id}}" style="{{sectionStyles}}" data-pattern-form-selection data-renderdynamic={{renderDynamic}} data-formid="{{fields.form}}" data-assetkey="{{blockClassName}}" data-eager="true">

		<div class="{{ blockClassName }}__container-inline">
			<div class="{{ blockClassName }}__inner">
				<div class="{{ blockClassName }}__wrapper">
					{% if fields.title %}
						{{ fields.title }}
					{% endif %}
					<!-- inline-form -->
					{{function('do_shortcode', '[cdbform id=' ~ fields.form ~ ']')}}
					<!-- end-inline-form -->
				</div>
			</div>
		</div>

	{{htmlEntryPoint}}
</section>