{% set contentContainerStyles =  include('components/content-container-settings.twig', { fields, block, blockClassName }, with_context = false) %}

<style>
	.{{blockClassName}}__inner-container.{{block.id}}{
		{{contentContainerStyles}}
	}
</style>
{% set currentBlockId = block.id %}

<div class="{{blockClassName}}__inner-container {{block.id}}">
	{% for item in fields.content_sections %}
		{% if block %}
			{% set block = block|merge({'anchor' : ''}) %}
			{% set block = block|merge({'id' : block.id ~ '-' ~ loop.index}) %}
			{% set block = block|merge({'className' : ''}) %}
		{% endif %}
		{% set path = '' %}

		{% if item.acf_fc_layout == 'accordion' or item.acf_fc_layout == 'spacer' or item.acf_fc_layout == 'spacer_v2' or item.acf_fc_layout == 'divider' or item.acf_fc_layout == 'breadcrumb_display' %}
			{% set path = 'blocks' %}
		{% else %}
			{% set path = 'components' %}
		{% endif %}

		{{ include(path ~ '/' ~ (item.acf_fc_layout|replace({ '_': '-' })) ~ '.twig', { fields: item, contentImageSizes, block, blockClassName, options, nav_menus, market_settings, cta_styles, current_post, languages}, with_context = false, ignore_missing = true) }}

	{% endfor %}
	{% if fields.enable_video %}
		{% set block = block|merge({'id' : currentBlockId }) %}
		<div class="{{blockClassName}}__video-play-button-container {{block.id}}">
			{{ include('components/video-trigger-button.twig', { fields: fields, block: block, blockClassName: blockClassName, buttonStyle: playBtnStyle }, with_context = false) }}
		</div>
	{% endif %}
</div>
