{% set blockClassName = "breadcrumb-display" %}
{% set classNameEntryPoint = include('entry-points/entry-point-classes.twig', { fields, block }, with_context = false) %}
{% set htmlEntryPoint = include('entry-points/entry-point-html.twig', { fields, block, blockClassName, options, environment, is_preview, nav_menus }, with_context = false) %}
{% set dataAttributeEntryPoint = include('entry-points/entry-point-data-attribute.twig', { fields, block }, with_context = false) %}
{% set styleEntryPoint = include('entry-points/entry-point-style.twig', { fields, block, displaytype, is_preview }, with_context = false) %}
{% set previewEntryPoint = include('entry-points/entry-point-preview-info.twig', { fields, block, displaytype, is_preview }, with_context = false) %}


{% set textColour = '--text-colour:' ~ fields.text_colour ~ ';' %}
{% set currentPage = current %}
{% set parentPages = [] %}
{% set enableCustomFirstLink = fields.enable_custom_first_link %}

{% set sectionStyles =  styleEntryPoint ~ textColour %}
<style>
	.{{blockClassName}}.{{block.id}}{
		{{sectionStyles}}
	}
</style>
<section {{block.anchor ? "id=" ~ block.anchor : ''}} class="{{blockClassName}} {{classNameEntryPoint}} {{block.className}} {{block.id}} lazy-fade" {{dataAttributeEntryPoint}} data-jsload="false" data-blockid="{{block.id}}" data-assetkey="{{blockClassName}}">
	{% for i in 1..8 %}
		{% if currentPage.post_parent %}
			{% set parentPage = get_post(currentPage.post_parent) %}
			{% set parentPages = [parentPage] | merge(parentPages) %}
			{% set currentPage = get_post(parentPage) %}
		{% endif %}
	{% endfor %}

	<p class="{{ blockClassName }}__text"></p>

	{% if enableCustomFirstLink %}
		<a href="{{ fields.select_link.url }}">{{ fields.select_link.title }}</a>
		/
	{% endif %}

	{% if parentPages is not null %}
		{% for parentPage in parentPages %}
			<a href="{{ parentPage.link }}" aria-label="{{ parentPage.post_title }}">
				{{ parentPage.post_title }}
			</a>
			/
		{% endfor %}
	{% endif %}

	<a href="{{ current.link }}" aria-label="{{ current.post_title }}">
		{{ current.post_title }}
	</a>
</p>

{{htmlEntryPoint}}</section>
