{% set blockClassName = "site-logo-container-v3" %}
{% set classNameEntryPoint = include('entry-points/entry-point-classes.twig', { fields, block }, with_context = false) %}
{% set htmlEntryPoint = include('entry-points/entry-point-html.twig', { fields, block, blockClassName, options, environment, is_preview, nav_menus }, with_context = false) %}
{% set dataAttributeEntryPoint = include('entry-points/entry-point-data-attribute.twig', { fields, block }, with_context = false) %}
{% set styleEntryPoint = include('entry-points/entry-point-style.twig', { fields, block, displaytype, is_preview }, with_context = false) %}
{% set previewEntryPoint = include('entry-points/entry-point-preview-info.twig', { fields, block, displaytype, is_preview }, with_context = false) %}

{% set logoMaxWidthDesktop = '--site-logo-max-width-desktop: ' ~ fields.site_logo_max_width_desktop ~ ';'%}
{% set logoMaxWidthPortrait = '--site-logo-max-width-portrait: ' ~ fields.site_logo_max_width_portrait ~ ';' %}
{% set logoMaxWidthMobile = '--site-logo-max-width-mobile: ' ~ fields.site_logo_max_width_mobile ~ ';' %}

{% set sectionStyles =  styleEntryPoint ~ logoMaxWidthDesktop ~ logoMaxWidthPortrait ~ logoMaxWidthMobile %}
<style>
	.{{blockClassName}}.{{block.id}}{
		{{sectionStyles}}
	}
</style>
<section {{block.anchor ? "id=" ~ block.anchor : ''}} class="{{blockClassName}} {{block.className}} {{block.className ~ '-' ~ loop}} {{classNameEntryPoint}} {{block.id}} lazy-fade" data-jsload="false" {{dataAttributeEntryPoint}} data-blockid="{{block.id}}" data-assetkey="{{blockClassName}}">

	<a class="{{blockClassName}}__site-logo-link" href="/{{ market_slug ? market_slug ~ '/' : '' }}" aria-label="site-logo-link">
		{% if fields.logo_type|ru == 'site-header' %}
			{% set siteLogo = get_image(options.header_logo_desktop) %}
		{% endif %}
		{% if fields.logo_type|ru == 'site-footer' %}
			{% set siteLogo = get_image(options.footer_logo) %}
		{% endif %}
		{% if fields.logo_type|ru == 'site-logo-alt' %}
			{% set siteLogo = get_image(options.site_logo_alt) %}
		{% endif %}
		{% set isSVG = siteLogo.post_mime_type == 'image/svg+xml' %}
		{% set siteLogo = isSVG ? siteLogo.src : gt_image_mainsrc(siteLogo) %}
		{% if isSVG %}
			{{get_raw_svg(siteLogo.id, 'site-logo-container__site-logo')}}
		{% else %}
			<img src="{{gt_image_mainsrc(siteLogo)}}" srcset="{{gt_image_srcset(siteLogo)}}" width="{{siteLogo.width}}" height="{{siteLogo.height}}" alt="{{siteLogo.alt|default('site-logo')}}" class="{{blockClassName}}__site-logo style-svg"/>
		{% endif %}
	</a>
	{{htmlEntryPoint}}
</section>
