{# {% set contentContainerStyles =  include('components/content-box-settings-v3.twig', { fields, block, blockClassName }, with_context = false) %}
<style>
	.{{blockClassName}}__inner-container.{{block.id}}{
		{{contentContainerStyles}}
	}
</style>
{% set currentBlockId = block.id %}
<div class="{{blockClassName}}__inner-container {{block.id}}">
	{% for item in fields.content_sections %}
		{% if block %}
			{% set block = block|merge({'anchor' : ''}) %}
			{% set block = block|merge({'id' : block.id ~ '-' ~ loop.index}) %}
			{% set block = block|merge({'className' : ''}) %}
		{% endif %}
		{% set path = '' %}
		{% if item.acf_fc_layout == 'spacer_v3' or item.acf_fc_layout == 'divider_v3' or item.acf_fc_layout == 'breadcrumb_display' or item.acf_fc_layout == 'block_interactions_v3' %}
			{% set path = 'blocks' %}
		{% else %}
			{% set path = 'components' %}
		{% endif %}
		{{ include(path ~ '/' ~ (item.acf_fc_layout|replace({ '_': '-' })) ~ '.twig', { fields: item, block, contentImageSizes, blockClassName, options, nav_menus, cta_styles}, with_context = false, ignore_missing = true) }}
	{% endfor %}
</div> #}
