
{% set blockClassName = "bazaarvoice-review-v3" %}
{% set classNameEntryPoint = include('entry-points/entry-point-classes.twig', { fields: fields, block: block }, with_context = false) %}
{% set htmlEntryPoint = include('entry-points/entry-point-html.twig', { fields: fields, block: block, blockClassName, blockClassName }, with_context = false) %}
{% set dataAttributeEntryPoint = include('entry-points/entry-point-data-attribute.twig', { fields: fields, block: block }, with_context = false) %}
{% set styleEntryPoint = include('entry-points/entry-point-style.twig', { fields: fields, block: block, is_preview }, with_context = false) %}
{% set previewEntryPoint = include('entry-points/entry-point-preview-info.twig', { fields, block, displaytype, is_preview }, with_context = false) %}
{% set horizontalAlignment = '--horizontal-alignment: ' ~ fields.horizontal_alignment|ru ~ ';' %}

{% set sectionStyles =  styleEntryPoint ~ horizontalAlignment %}

{{previewEntryPoint}}
<section {{block.anchor ? "id=" ~ block.anchor : ''}} class="{{blockClassName}} {{block.className}} {{classNameEntryPoint}} lazy-fade" {{dataAttributeEntryPoint}} data-blockid="{{block.id}}" style="{{sectionStyles}}" data-assetkey="{{blockClassName}}">
	{% if fn("is_plugin_active","cbl-better-reviews/cbl-better-reviews.php") %}
		<div class="{{blockClassName}}__review-wrapper">
			{{ function( 'do_shortcode', '[better-reviews post_id="' ~ get_post(fields.bazaarvoice_product).product_bazaarvoice~ '" stars="yes" review_count="yes"]' )|raw }}
		</div>
	{% endif %}
	{{htmlEntryPoint}}
</section>