{% set blockClassName = "back-to-top-button-v3" %}

{% set classNameEntryPoint = include('entry-points/entry-point-classes.twig', { fields, block }, with_context = false) %}
{% set htmlEntryPoint = include('entry-points/entry-point-html-v3.twig', { fields, block, blockClassName, options, environment, is_preview, nav_menus }, with_context = false) %}
{% set dataAttributeEntryPoint = include('entry-points/entry-point-data-attribute.twig', { fields, block }, with_context = false) %}
{% set styleEntryPoint = include('entry-points/entry-point-style-v3.twig', { fields, block, displaytype, is_preview }, with_context = false) %}
{% set previewEntryPoint = include('entry-points/entry-point-preview-info.twig', { fields, block, displaytype, is_preview }, with_context = false) %}


{% set buttonBorderRadius = '--button-border-radius: ' ~ fields.btt_border_radius ~ ';' %}
{% set imageSize = '--image-size: ' ~ fields.image_size ~ ';' %}

{% set buttonImage = get_image(fields.btt_image) %}
{% set enabled = fields.enable_btt_button %}
{% set bgColour = fields.btt_background_colour %}
{% set arrowColour = fields.btt_arrow_colour %}
{% set position = fields.btt_position|ru %}

{% set sectionStyles =  styleEntryPoint ~ buttonBorderRadius ~ imageSize %}
<style>
	.{{blockClassName}}.{{block.id}}{
		{{sectionStyles}}
	}
</style>

{% if enabled %}
	<section {{block.anchor ? "id=" ~ block.anchor : ''}} class="{{blockClassName}} {{blockClassName}} {{block.className}} {{classNameEntryPoint}} lazy-fade {{block.id}}" {{dataAttributeEntryPoint}} data-assetkey="{{blockClassName}}">
		<button aria-label="back to the top button" class="{{blockClassName}}__button {{blockClassName}}__button--{{position}}" style="--bg-colour: {{bgColour}}">
			{% if fields.enable_custom_image %}
				<img class="{{blockClassName}}__image" width="{{buttonImage.width}}" height="{{buttonImage.height}}" src="{{ buttonImage.src }}" alt="{{buttonImage.alt}}">
			{% else %}
				<span class="{{blockClassName}}__arrow" style="--arrow-colour: {{arrowColour}}"></span>
			{% endif %}
		</button>
		{% if fields.animations.enable_animations %}
			{{ include('components/animations-style-v3.twig', { fields, block, blockClassName }, with_context = false) }}
		{% endif %}

	</section>
{% endif %}
