{% set blockClassName = "block-interactions-v3" %}
{% set classNameEntryPoint = include('entry-points/entry-point-classes.twig', { fields: fields, block: block }, with_context = false) %}
{% set htmlEntryPoint = include('entry-points/entry-point-html-v3.twig', { fields: fields, block: block, blockClassName, blockClassName }, with_context = false) %}
{% set dataAttributeEntryPoint = include('entry-points/entry-point-data-attribute.twig', { fields: fields, block: block }, with_context = false) %}
{% set styleEntryPoint = include('entry-points/entry-point-style.twig', { fields: fields, block: block, is_preview }, with_context = false) %}
{% set previewEntryPoint = include('entry-points/entry-point-preview-info.twig', { fields, block, displaytype, is_preview }, with_context = false) %}
{% set sectionStyles =  styleEntryPoint %}
{{previewEntryPoint}}
<style>
	.{{blockClassName}}.{{block.id}}{
		{{sectionStyles}}
	}
</style>
<section {{block.anchor ? "id=" ~ block.anchor : ''}} class="{{blockClassName}} {{block.className}} {{loop ? block.className.index ~ '-' ~ loop.index : ''}} {{classNameEntryPoint}} lazy-fade {{block.id}}" {{dataAttributeEntryPoint}} data-blockid="{{block.id}}" data-parentblockid="{{block.videoIdPrefix}}" data-assetkey="{{blockClassName}}">
	{% set blockInteractionsEnabled = fields.enable_block_interactions %}
	{% set enableInteractionsButton = fields.enable_interactions_button %}
	{% set interactionsButtonType = fields.interactions_button_type %}
	{% set animationName = fields.animation_name|ru %}
	{% set animationDuration = fields.animation_duration|ru %}

	{% if blockInteractionsEnabled %}
		{% for item in fields.modal_popup_triggers %}
			{% if item.cta_style|ru matches '/^\\d+$/' %}
				{% set ctaData = attribute(cta_styles['theme_cta_styles'], item.cta_style|ru - 1) %}
				{% set enableCtaAnimation = ctaData.cta_settings.enable_cta_animation %}
				{% set enableCtaIcon = ctaData.cta_settings.include_cta_icon %}
				{% set ctaAnimationStyle = ctaData.cta_settings.cta_animation_style %}
			{% endif %}
			
			{% for item in fields.modal_popup_triggers %}
				{% if item.cta_style|ru matches '/^\\d+$/' %}
					{% set ctaData = attribute(cta_styles['theme_cta_styles'], item.cta_style|ru - 1) %}
					{% set enableCtaAnimation = ctaData.cta_settings.enable_cta_animation %}
					{% set enableCtaIcon = ctaData.cta_settings.include_cta_icon %}
					{% set ctaAnimationStyle = ctaData.cta_settings.cta_animation_style %}
				{% endif %}
				{% if item.enable_trigger_icon %}
					<button class="{{blockClassName}}__popup-trigger" data-modalpopuptrigger="{{ item.modal_popup_trigger_id }}">
						{% if item.modal_popup_trigger_text %}
							<span class="{{blockClassName}}__popup-trigger-text">{{ item.modal_popup_trigger_text }}</span>
						{% endif %}
						<span class="{{blockClassName}}__popup-trigger-icon"><img src="{{ get_image(options.theme_cta_icons[item.trigger_icon_type|ru]).src }}"></span>
					</button>
				{% else %}
					<button class="cmpl-cta-style-{{item.cta_style}} cmpl-cta-animation-style-{{enableCtaAnimation ? ctaAnimationStyle : ''}}" data-modalpopuptrigger="{{ item.modal_popup_trigger_id }}">
						<span class="cmpl-cta-span">{{ item.modal_popup_trigger_text }}</span>
					</button>
				{% endif %}
			{% endfor %}
		{% endfor %}

		{% if enableInteractionsButton %}
			{% if (interactionsButtonType|ru == 'close-block') %}
				{% set closeButtonIcon = get_image(fields.upload_close_icon) %}
				{% set closeButtonCookie = fields.enable_closed_cookie %}
				<button class="block-interactions-v3__block-close-button" data-animationname="{{animationName}}" data-animationduration="{{animationDuration}}" data-store-cookie="{{closeButtonCookie ? 'true' : 'false' }}">
					{% set iconType = options.theme_cta_icons.cta_close_icon %}
					{% set iconImage = get_image(iconType) %}
					{% set isSVG = iconImage.post_mime_type == 'image/svg+xml' %}
					{{ isSVG ? get_raw_svg(iconImage.id) : '<img class="" src="' ~ iconImage.src ~ '">'}}
				</button>
			{% endif %}
		{% endif %}

	{% endif %}
	{{htmlEntryPoint}}
</section>
