
{% set blockClassName = "sticky-buy-cta-v3" %}
{% set classNameEntryPoint = include('entry-points/entry-point-classes.twig', { fields: fields, block: block }, with_context = false) %}
{% set htmlEntryPoint = include('entry-points/entry-point-html-v3.twig', { fields: fields, block: block, blockClassName, blockClassName }, with_context = false) %}
{% set dataAttributeEntryPoint = include('entry-points/entry-point-data-attribute.twig', { fields: fields, block: block }, with_context = false) %}
{% set styleEntryPoint = include('entry-points/entry-point-style.twig', { fields: fields, block: block, is_preview }, with_context = false) %}
{% set previewEntryPoint = include('entry-points/entry-point-preview-info.twig', { fields, block, displaytype, is_preview }, with_context = false) %}

{% set sectionStyles =  styleEntryPoint %}

{{previewEntryPoint}}
<style>
	.{{blockClassName}}.{{block.id}}{
		{{sectionStyles}}
	}
</style>
<section {{block.anchor ? "id=" ~ block.anchor : ''}} class="{{blockClassName}} {{block.className}} {{classNameEntryPoint}} {{block.id}} lazy-fade" {{dataAttributeEntryPoint}} data-blockid="{{block.id}}" data-assetkey="{{blockClassName}}">

			{% if item.cta_style|ru matches '/^\\d+$/' %}
				{% set ctaData = attribute(cta_styles['theme_cta_styles'], item.cta_style|ru - 1) %}
				{% set enableCtaAnimation = ctaData.cta_settings.enable_cta_animation %}
				{% set enableCtaIcon = ctaData.cta_settings.include_cta_icon %}
				{% set ctaAnimationStyle = ctaData.cta_settings.cta_animation_style %}
			{% endif %}
		
		{% if fields.buy_now_cta is defined and fields.buy_now_cta|remove_underscore == 'prctb' %}

			{% if fields.select_product.ID is defined and fields.select_product.ID is not empty %}
				<div class="{{ blockClassName }}__cta-wrapper">
					{% apply shortcodes %}
						[clicktobuy class="{{ blockClassName }}__cta-button cmpl-cta-style-{{fields.cta_style}} cmpl-cta-animation-style-{{enableCtaAnimation ? fields.ctaAnimationStyle : '1'}} cream-hover has-shop shop-ctb" lang="{{ fields.buy_now_ctb.language }}" variant="{{ fields.select_product.ID }}" country="{{ fields.buy_now_ctb.country }}" customQueryString="{{ fields.buy_now_ctb.custom_query_string }}"]
							<span class="cmpl-cta-span">{{ fields.cta_text }}</span>
						[/clicktobuy]
					{% endapply %}
				</div>
			{% endif %}

			{% elseif fields.buy_now_cta is defined and fields.buy_now_cta|remove_underscore == 'shopify' %}

				<div class="{{ blockClassName }}__cta-wrapper">
					{% if fields.buy_now_shopify.pim is defined %}
						{% set label = (fields.cta_button_text is defined and fields.cta_button_text|remove_underscore == 'pre-order')
							? __( 'Pre-Order', 'The Glenlivet Theme' )
							: __( 'Add To Cart', 'The Glenlivet Theme' )
						%}

						<div class="buy-now-wrapper shopify-integration has-shop shop-shopify has-price" data-pim="{{ fields.buy_now_shopify.pim }}" data-label="{{ label }}"
							{% if fields.buy_now_price is defined and fields.buy_now_price is not empty %}
								data-price="{{ fields.buy_now_price }} {{ fields.currency }}"
							{% endif %}>
						</div>
					{% endif %}

					{% if fields.buy_now_shopify.engraved_bottle == true and fields.buy_now_shopify.engraved_pim is not empty %}

						<div class="buy-now-wrapper shopify-integration has-shop shop-shopify has-price engraved" data-pim="{{ fields.buy_now_shopify__engraved_pim }}" data-engraved="{{true}}" data-label="{{ __( 'Buy Engraved', 'The Glenlivet Theme' ) }}" 
							{% if fields.buy_now_shopify.engraved_price is defined and fields.buy_now_shopify.engraved_price is not empty %}
								data-price="{{ fields.buy_now_shopify.engraved_price }} {{ fields.currency }}"
							{% endif %}>
						</div>
					{% endif %}
				</div>

			{% elseif fields.buy_now_cta is defined and fields.buy_now_cta|remove_underscore == 'direct_link' %}
				<div class="{{ blockClassName }}__cta-wrapper">
					<a href={{ fields.direct_link_url }} class="{{ blockClassName }}__direct-link cmpl-cta-style-{{fields.cta_style}} cmpl-cta-animation-style-{{enableCtaAnimation ? fields.ctaAnimationStyle : '1'}}" 
						{% if fields.open_in_a_new_tab is defined and fields.open_in_a_new_tab|remove_underscore == 'true' %} target="_blank" {% endif %}>
							<span class="cmpl-cta-span">{{ fields.cta_text }}</span>
					</a>
				</div>
				
			{% elseif gtp_language_code() == 'en-us' and fields.buy_now_cta|remove_underscore == 'pr_usa_reservebar' %}
				<div class="{{ blockClassName }}__rb-wrapper">
					<h3 class="{{ blockClassName }}__rb-title">{{ __( 'Enter delivery address to check online availability', 'The Glenlivet Theme' ) }}</h3>
					<div liquid-address-typeahead></div>
					<div liquid-id="GROUPING-{{ postObject.meta.pr_usa_reservebar_grouping_id }}">
						<div class="{{ blockClassName }}__rb-fulfillment" liquid-fulfillment-method-selector></div>
						<div class="{{ blockClassName }}__rb-button" liquid-atc onclick="liquidSDK.cart.toggle();"></div>
					</div>
				</div>
		{% endif %}
	
	{{htmlEntryPoint}}
</section>