{% set blockClassName = "group-container-v3" %}
{% set classNameEntryPoint = include('entry-points/entry-point-classes.twig', { fields, block }, with_context = false) %}
{% set htmlEntryPoint = include('entry-points/entry-point-html-v3.twig', { fields, block, blockClassName, options, environment, is_preview, nav_menus, cta_styles }, with_context = false) %}
{% set dataAttributeEntryPoint = include('entry-points/entry-point-data-attribute.twig', { fields, block }, with_context = false) %}
{% set styleEntryPoint = include('entry-points/entry-point-style-v3.twig', { fields, block, displaytype, is_preview }, with_context = false) %}
{% set previewEntryPoint = include('entry-points/entry-point-preview-info.twig', { fields, block, displaytype, is_preview }, with_context = false) %}

{% set layoutType = fields.layout_type|ru|default('grid') %}
{% set layoutStyles = '' %}
{% if layoutType == 'flex' %}
	{% set layoutStyles = include('components/flex-layout-container-v3.twig', { fields, block }, with_context = false) %}
	{% set layoutClass = 'flex-layout-container' %}
{% elseif layoutType == 'grid' %}
	{% set layoutStyles = include('components/grid-layout-container-v3.twig', { fields, block }, with_context = false) %}
	{% set layoutClass = 'grid-layout-container' %}
	{% set scrollButtonsDesktop = fields.grid_layout.enable_scroll_buttons_desktop ? 'scroll-btns-desktop' : '' %}
	{% set scrollButtonsPortrait = fields.grid_layout.enable_scroll_buttons_portrait ? ' scroll-btns-portrait' : '' %}
	{% set scrollButtonsMobile = fields.grid_layout.enable_scroll_buttons_mobile ? ' scroll-btns-mobile' : '' %}
	{% set scrollButtons = scrollButtonsDesktop ~ scrollButtonsPortrait ~ scrollButtonsMobile %}
{% endif %}

{% set blockElementType = fields.block_element_type|default('section')|ru %}
{% set imageSizes = '(min-width: 1440px) ' ~ (100 / fields.grid_layout.grid_columns_desktop|default(1))|round ~ 'vw, (min-width: 1024px) ' ~ (100 / fields.grid_layout.grid_columns_desktop|default(1))|round ~ 'vw, (min-width: 768px) ' ~ (100 / fields.grid_layout.grid_columns_portrait|default(1))|round ~ 'vw, (min-width: 300px) ' ~(100 / fields.grid_layout.grid_columns_mobile|default(1))|round ~ 'vw, 100vw' %}

{% set sectionStyles =  styleEntryPoint ~ fallbackBackgroundColour ~ containerOverflowType ~ blockPosition %}
{% set renderDynamic = fields.render_dynamic %}
{% set renderDynamicSuffix = fields.render_dynamic_suffix %}

{{previewEntryPoint}}
<style>
	.{{blockClassName}}.{{block.id}}{
		{{sectionStyles}}
	}
</style>
<{{blockElementType}} {{block.anchor ? "id=" ~ block.anchor : ''}} class="{{blockClassName}} {{block.className}} cmpl-core-group-container-styles {{classNameEntryPoint}} lazy-fade {{block.id}}" data-blockid="{{block.id}}" {{dataAttributeEntryPoint}} data-assetkey="group-container-v3" data-render-dynamic="{{renderDynamic}}" data-render-dynamic-suffix="{{renderDynamicSuffix}}">

	{% if block %}
		{% set block = block|merge({'videoIdPrefix' : block.id }) %}
	{% endif %}
	<style>
		.{{blockClassName}}__grid-container.{{block.id}}{
			{{layoutStyles}}
		}
	</style>
	<div class="{{blockClassName}}__grid-container cmpl-core-group-container-styles__grid-container {{scrollButtons}} {{layoutClass}} {{block.id}}">

		{% for section in fields.sections %}
			{% set gridLayoutElement = include('components/grid-layout-element-v3.twig', { fields: section, block }, with_context = false) %}
			{% if block %}
				{% set block = block|merge({'anchor' : '', 'id': block.id ~ '-' ~ loop.index }) %}
			{% endif %}
			<style>
				.{{blockClassName}}__block-container.{{block.id}}{
					{{gridLayoutElement}}
				}
			</style>
			<div class="{{blockClassName}}__block-container cmpl-core-group-container-styles__block-container {{layoutClass}} {{block.id}}">
				{% if fields.show_block_numbers and is_preview %}
					<div class="{{blockClassName}}__block-number">{{ loop.index }}</div>
				{% endif %}
				{{ include('blocks/' ~ (section.acf_fc_layout|replace({ '_': '-' })) ~ '.twig', { fields: section, options, block, is_preview, current_post, nav_menus, site, global_settings, market_settings, market_slug, cta_styles, languages, imageSizes, loop: loop.index}, with_context = false, ignore_missing = true) }}
			</div>
		{% endfor %}
	</div>
	{{htmlEntryPoint}}
</{{blockElementType}}>
