{% set blockClassName = "debrain-label-shop" %}
{% set classNameEntryPoint = include('entry-points/entry-point-classes.twig', { fields, block }, with_context = false) %}
{% set htmlEntryPoint = include('entry-points/entry-point-html.twig', { fields, block, blockClassName, options, environment, is_preview, nav_menus }, with_context = false) %}
{% set dataAttributeEntryPoint = include('entry-points/entry-point-data-attribute.twig', { fields, block }, with_context = false) %}
{% set styleEntryPoint = include('entry-points/entry-point-style.twig', { fields, block, displaytype, is_preview }, with_context = false) %}
{% set previewEntryPoint = include('entry-points/entry-point-preview-info.twig', { fields, block, displaytype, is_preview }, with_context = false) %}


{% set products = products|json_encode_2|default('') %}

{% set introTitle = 'data-introtitle=' ~ "'" ~ fields.intro_title|escape ~ "'" %}
{% set introSubtitle = ' data-introsubtitle=' ~ "'" ~ fields.intro_subtitle|escape ~ "'" %}
{% set introCopy = 'data-introcopy=' ~ "'" ~ fields.intro_copy|escape ~ "'" %}
{% set introButtonNext = 'data-introbuttonnext=' ~ "'" ~ fields.intro_button_next|escape ~ "'" %}
{% set introDisclaimer = 'data-introdisclaimer=' ~ "'" ~ fields.intro_disclaimer|escape ~ "'" %}
{% set introBottle = 'data-introbottle=' ~ "'" ~ get_image(fields.intro_bottle).src ~ "'" %}
{% set introBottleMobile = 'data-introbottlemobile=' ~ "'" ~ get_image(fields.intro_bottle_mobile).src ~ "'" %}
{% set introBackgroundImage = 'data-introbackgroundimage=' ~ "'" ~ get_image(fields.intro_background_image).src ~ "'" %}
{% set introBackgroundColour = 'data-introbackgroundcolour=' ~ "'" ~ fields.intro_background_colour ~ "'" %}
{% set introLabel = 'data-introlabel=' ~ "'" ~ get_image(fields.intro_label).src ~ "'" %}

{% set introVars = introTitle ~ introSubtitle ~ introCopy ~ introButtonNext ~ introDisclaimer ~ introBottle ~ introBottleMobile ~ introBackgroundImage ~ introBackgroundColour ~ introLabel %}


{% set chooseBottleTitle = 'data-choosebottletitle=' ~ "'" ~ fields.choose_your_bottle_title|escape ~ "'"  %}
{% set chooseBottleSubtitle = 'data-choosebottlesubtitle=' ~ "'" ~ fields.choose_your_bottle_subtitle|escape ~ "'"  %}
{% set chooseBottleContinueText = 'data-choosebottlecontinuetext=' ~ "'" ~ fields.choose_your_bottle_continue_text|escape ~ "'"  %}
{% set chooseBottleFooterText = 'data-choosebottlefootertext=' ~ "'" ~ fields.choose_your_bottle_footer_text|escape ~ "'"  %}

{% set chooseYourBottleVars = chooseBottleTitle ~ chooseBottleSubtitle ~ chooseBottleContinueText ~ chooseBottleFooterText %}

{% set labelBreadcrumb = 'data-labelbreadcrumb=' ~ "'" ~ fields.label_breadcrumb|escape ~ "'" %}
{% set labelButtonPrev = 'data-labelbuttonprev=' ~ "'" ~ fields.label_button_prev ~ "'" %}
{% set labelConfirmation = 'data-labelconfirmation=' ~ "'" ~ fields.label_confirmation_message ~ "'" %}


{% set labelTitle = 'data-labeltitle=' ~ "'" ~ fields.label_title|escape ~ "'" %}
{% set labelSubtitle = 'data-labelsubtitle=' ~ "'" ~ fields.label_subtitle|escape ~ "'" %}
{% set labelMessages = 'data-labelmessages=' ~ "'" ~ fields.label_messages|json_encode_2() ~ "'" %}
{% set labelFontcaption = 'data-labelfontcaption=' ~ "'" ~ fields.label_font_caption|escape ~ "'" %}
{% set labelFontplaceholder = 'data-labelfontplaceholder=' ~ "'" ~ fields.label_font_placeholder|escape ~ "'" %}
{% set labelMessagecaption = 'data-labelmessagecaption=' ~ "'" ~ fields.label_message_caption|escape ~ "'" %}
{% set labelLine1Placeholder = 'data-labelline1placeholder=' ~ "'" ~ fields.label_line1_placeholder|escape ~ "'" %}
{% set labelLine2Placeholder = 'data-labelline2placeholder=' ~ "'" ~ fields.label_line2_placeholder|escape ~ "'" %}
{% set labelMessageCharcount = 'data-labelmessagecharcount=' ~ "'" ~ fields.label_message_charcount|escape ~ "'" %}
{% set labelButtonNext = 'data-labelbuttonnext=' ~ "'" ~ fields.label_button_next|escape ~ "'" %}
{% set labelBottle = 'data-labelbottle=' ~ "'" ~ fields.label_bottle ~ "'" %}
{% set labelLabel = 'data-labellabel=' ~ "'" ~ fields.label_label ~ "'" %}

{% set labelVars = labelBreadcrumb ~ labelButtonPrev ~ labelConfirmation ~ labelTitle ~ labelSubtitle ~ labelMessages ~ labelFontcaption ~ labelFontplaceholder ~ labelMessagecaption ~ labelLine1Placeholder ~ labelLine2Placeholder ~ labelMessageCharcount ~ labelButtonNext ~ labelBottle ~ labelLabel %}


{% set greetingBreadcrumb = 'data-greetingbreadcrumb=' ~ "'" ~ fields.greeting_breadcrumb|escape ~ "'" %}
{% set greetingTitle = 'data-greetingtitle=' ~ "'" ~ fields.greeting_title|escape ~ "'" %}
{% set greetingSubtitle = 'data-greetingsubtitle=' ~ "'" ~ fields.greeting_subtitle|escape ~ "'" %}
{% set greetingDisclaimer = 'data-greetingdisclaimer=' ~ "'" ~ fields.greeting_disclaimer|escape ~ "'" %}
{% set greetingButtonSkip = 'data-greetingbuttonskip=' ~ "'" ~ fields.greeting_button_skip|escape ~ "'" %}
{% set greetingButtonNext = 'data-greetingbuttonnext=' ~ "'" ~ fields.greeting_button_next|escape ~ "'" %}
{% set greetingGreetings = 'data-greetinggreetings=' ~ "'" ~ fields.greeting_greetings|escape ~ "'" %}
{% set greetingGreetingCards = 'data-greetinggreetingcards=' ~ "'" ~ fields.greeting_greeting_cards|json_encode_2() ~ "'" %}

{% set greetingVars = greetingBreadcrumb ~ greetingTitle ~ greetingSubtitle ~ greetingDisclaimer ~ greetingButtonSkip ~ greetingButtonNext ~ greetingGreetings ~ greetingGreetingCards %}

{% set orderBreadcrumb = 'data-orderbreadcrumb=' ~ "'" ~ fields.order_breadcrumb|escape ~ "'" %}
{% set orderTitle = 'data-ordertitle=' ~ "'" ~ fields.order_title|escape ~ "'" %}
{% set orderMandatory = 'data-ordermandatory=' ~ "'" ~ fields.order_mandatory|escape ~ "'" %}
{% set orderTitleCaption = 'data-ordertitlecaption=' ~ "'" ~ fields.order_title_caption|escape ~ "'" %}
{% set orderFirstnamePlaceholder = 'data-orderfirstnameplaceholder=' ~ "'" ~ fields.order_firstname_placeholder|escape ~ "'" %}
{% set orderLastnamePlaceholder = 'data-orderlastnameplaceholder=' ~ "'" ~ fields.order_lastname_placeholder|escape ~ "'" %}
{% set orderEmailPlaceholder = 'data-orderemailplaceholder=' ~ "'" ~ fields.order_email_placeholder|escape ~ "'" %}
{% set orderVerifyemailPlaceholder = 'data-orderverifyemailplaceholder=' ~ "'" ~ fields.order_verifyemail_placeholder ~ "'" %}
{% set orderPhonePlaceholder = 'data-orderphoneplaceholder=' ~ "'" ~ fields.order_phone_placeholder|escape ~ "'" %}
{% set orderShippingCaption = 'data-ordershippingcaption=' ~ "'" ~ fields.order_shipping_caption|escape ~ "'" %}
{% set orderAddress1Placeholder = 'data-orderaddress1placeholder=' ~ "'" ~ fields.order_address1_placeholder|escape ~ "'" %}
{% set orderAddress2Placeholder = 'data-orderaddress2placeholder=' ~ "'" ~ fields.order_address2_placeholder|escape ~ "'" %}
{% set orderCityPlaceholder = 'data-ordercityplaceholder=' ~ "'" ~ fields.order_city_placeholder|escape ~ "'" %}
{% set orderStatePlaceholder = 'data-orderstateplaceholder=' ~ "'" ~ fields.order_state_placeholder|escape ~ "'" %}
{% set orderZipcodePlaceholder = 'data-orderzipcodeplaceholder=' ~ "'" ~ fields.order_zipcode_placeholder|escape ~ "'" %}
{% set orderTerms = 'data-orderterms=' ~ "'" ~ fields.order_terms|escape ~ "'" %}
{% set orderOptin = 'data-orderoptin=' ~ "'" ~ fields.order_optin|escape ~ "'" %}
{% set orderConfirmation = 'data-orderconfirmation=' ~ "'" ~ fields.order_confirmation_message|escape ~ "'" %}
{% set orderButtonNext = 'data-orderbuttonnext=' ~ "'" ~ fields.order_button_next|escape ~ "'" %}
{% set orderButtonPrev = 'data-orderbuttonprev=' ~ "'" ~ fields.order_button_prev|escape ~ "'" %}

{% set whereToBuyPageLink = 'data-wheretobuypagelink=' ~ "'" ~ fields.where_to_buy_page_link|json_encode_2|default('') ~ "'" %}

{% set satelliteId = fields.satellite_id|escape %}
{% set environment = fields.environment ? 'data-dloc-' ~ fields.environment : "" %}

{% set orderVars = orderBreadcrumb ~ orderTitle ~ orderMandatory ~ orderTitleCaption ~ orderFirstnamePlaceholder ~ orderLastnamePlaceholder ~ orderLastnamePlaceholder ~ orderEmailPlaceholder ~ orderVerifyemailPlaceholder ~ orderPhonePlaceholder ~ orderShippingCaption ~ orderAddress1Placeholder ~ orderAddress2Placeholder ~ orderCityPlaceholder ~ orderStatePlaceholder ~ orderZipcodePlaceholder ~ orderTerms ~ orderOptin ~ orderConfirmation ~ orderButtonNext ~ orderButtonPrev ~ whereToBuyPageLink %}


{% set thankTitle = 'data-thanktitle=' ~ "'" ~ fields.thank_title|escape ~ "'" %}
{% set thankSubTitle = 'data-thanksubtitle=' ~ "'" ~ fields.thank_subtitle|escape ~ "'" %}
{% set thankShareTitle = 'data-thanksubtitle=' ~ "'" ~ fields.thank_share_title|escape ~ "'" %}
{% set thankShareSubTitle = 'data-thanksubtitle=' ~ "'" ~ fields.thank_share_subtitle|escape ~ "'" %}
{% set thankButtonNext = 'data-thanksubtitle=' ~ "'" ~ fields.thank_button_next|escape ~ "'" %}

{% set thankVars = thankTitle ~ thankSubTitle ~ thankShareTitle ~ thankShareSubTitle ~ thankButtonNext %}


{% set divAttributes = introVars ~ chooseYourBottleVars ~ labelVars ~ greetingVars ~ orderVars ~ thankVars %}


<section {{block.anchor ? "id=" ~ block.anchor : ''}} class="debrain-label-shop {{classNameEntryPoint}} {{block.className|default('')}} lazy-fade {{block.id}}" {{dataAttributeEntryPoint}} style="{{styleEntryPoint}}" data-assetkey="debrain-label-shop">

	<div id="labelshop-outer-container" {{divAttributes}} data-products='{{products}}'></div>
	<script src="{{fields.script_url}}"></script>

	{% if fields.enable_wtb %}
		<div class="dloc-wtb" data-inline></div>
		<script src="//staging-satellite.buyspiritsnow.com/dist/js/dloc-sdk.js" data-dloc-satellite-id="{{satelliteId}}" {{environment}}></script>
	{% endif %}

	{{htmlEntryPoint}}
</section>
