{% set blockClassName = "scrolling-banner-v3" %}
{% set classNameEntryPoint = include('entry-points/entry-point-classes.twig', { fields: fields, block: block }, with_context = false) %}
{% set dataAttributeEntryPoint = include('entry-points/entry-point-data-attribute.twig', { fields: fields, block: block }, with_context = false) %}
{% set styleEntryPoint = include('entry-points/entry-point-style-v3.twig', { fields: fields, block: block, is_preview }, with_context = false) %}
{% set previewEntryPoint = include('entry-points/entry-point-preview-info.twig', { fields, block, displaytype, is_preview }, with_context = false) %}

{% set sectionStyles =  styleEntryPoint %}

{{previewEntryPoint}}
<style>
	.{{blockClassName}}.{{block.id}}{
		{{sectionStyles}}
	}
</style>
<section {{block.anchor ? "id=" ~ block.anchor : ''}} class="{{blockClassName}} {{classNameEntryPoint}} {{block.id}} lazy-fade" {{dataAttributeEntryPoint}} data-blockid="{{block.id}}" data-assetkey="{{blockClassName}}">

	{% set bannerText1 = fields.scrolling_banner_text1 %}
	{% set bannerText2 = fields.scrolling_banner_text2 %}
	{% set enableScrolling = fields.enable_scrolling_banner %}
	{% set bannerSpeed = fields.scrolling_banner_speed %}
	{% set imageSeperator = fields.seperator_as_image %}
	{% set positioning = '--position:' ~ fields.positioning|ru ~ ';' %}
	{% set textSizeDesktop = '--text-size-desktop:' ~ fields.font_size_desktop ~ ';' %}
	{% set textSizePortrait = '--text-size-portrait:' ~ fields.font_size_portrait ~ ';' %}
	{% set textSizeMobile = '--text-size-mobile:' ~ fields.font_size_mobile ~ ';' %}
	{% set textColour = '--banner-text-colour:' ~ fields.text_colour ~ ';' %}
	{% set bannerTextStyles =  textSizeDesktop ~ textSizePortrait ~ textSizeMobile ~ positioning ~ textColour %}

	{% if fields.enable_text_shadow %}
		{% set textShadowClassName = blockClassName ~ "--text-shadow" %}
		{% set textShadowStyle = "--text-shadow-offset-x:" ~ (fields.text_shadow_horizontal_offset|default(0)) ~ "; --text-shadow-offset-y: " ~ (fields.text_shadow_vertical_offset|default(0)) ~ "; --text-shadow-blur: " ~ (fields.text_shadow_blur|default(0)) ~ "; --text-shadow-colour: " ~ (fields.text_shadow_colour|default("#000000")) ~ ";" %}
	{% endif %}

	{% if enableScrolling %}
		<div class="{{blockClassName}}" data-speed="{{bannerSpeed}}" style="{{bannerTextStyles ~ textShadowStyle}}">
			<div class="{{blockClassName}}__wrapper">
				<div class="{{blockClassName}}__container">
					<div class="{{blockClassName}}__inner">
						<span class="{{blockClassName}}__separator"></span>
						<span class="{{blockClassName}}__text {{textShadowClassName}}">{{bannerText1}}</span>
						{% if bannerText2 %}
							<span class="{{blockClassName}}__separator"></span>
							<span class="{{blockClassName}}__text {{textShadowClassName}}">{{bannerText2}}</span>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	{% endif %}


	{# {{htmlEntryPoint}} #}
</section>
