<div class="{{blockClassName}}__divider-container {{blockClassName}}__info-item" style="--post-divider-column-start: {{field.post_divider_column_start}}; --post-divider-column-span: {{field.post_divider_column_span}}">
	{{ include( 'blocks/divider.twig', {fields : field, block : block, blockClassName : blockClassName}, with_context = false) }}
</div>
