{% set gridLayoutElement = include('components/grid-layout-element.twig', { fields: field, block: block }, with_context = false) %}
{% set textStyle = include('components/text-style.twig', {field, post}) %}
{% set elementStyles = gridLayoutElement ~ textStyle %}

{% set questions = post.meta('person_questionaire') %}
<div class="{{blockClassName}}__person-questionaire {{blockClassName}}__info-item" style="{{elementStyles}}">
	<ul class="{{blockClassName}}__person-questionaire-list">
		{% for question in questions %}
			<li class="{{blockClassName}}__person-questionaire-list-item">
				<p class="{{blockClassName}}__person-question">{{question.question}}</p>
				<p class="{{blockClassName}}__person-answer">{{question.answer}}</p>
			</li>
		{% endfor %}
	</ul>
</div>
