{% set gridLayoutElement = include('components/grid-layout-element.twig', { fields: field, block: block }, with_context = false) %}
{% set textStyle = include('components/text-style.twig', {field, post}) %}
{% set elementStyles = gridLayoutElement ~ textStyle %}

<a href="mailto:{{post.person_email}}" class="{{blockClassName}}__person-email {{blockClassName}}__info-item {{field.text_style.typography_style|ru}}" style="{{elementStyles}}">
	{% if field.enable_icon %}
		<img class="{{blockClassName}}__person-email-icon" src="{{options.theme_cta_icons.cta_email_icon}}" alt="email icon">
	{% endif %}
	<span>{{field.display_email_as_person_name ?  post.person_name : post.person_email|lower}}</span>
</a>
