{% set gridLayoutElement = include('components/grid-layout-element.twig', { fields:field , block }, with_context = false) %}
{% set sectionStyles = gridLayoutElement %}


<style>
	.{{blockClassName}}__post-tags {

		{{sectionStyles}}
	}
</style>


<div class="{{blockClassName}}__post-tags {{blockClassName}}__info-item ">
	<div class="{{blockClassName}}__cta cmpl-cta-style-{{field.cta_style}}">{{post.tags.0.name}}</div>

</div>
