{% set gridLayoutElement = include('components/grid-layout-element.twig', { fields: field, block: block }, with_context = false) %}
{% set textStyle = include('components/text-style.twig', {field, post}) %}
{% set elementStyles = gridLayoutElement ~ textStyle %}


<{{field.text_style.text_element_type|ru}} class="{{blockClassName}}__info-item {{blockClassName}}__post-author {{field.text_style.typography_style|ru}}" style="{{elementStyles}}">
	{{field.enable_label ? '<span class="' ~ blockClassName ~ '__post-author-label">' ~ field.label ~ ' </span>'}}<span class="pattern-author.display_name">{{post.author.display_name}}</span></{{field.text_style.text_element_type|ru}}>
