{% set gridLayoutElement = include('components/grid-layout-element.twig', { fields: field, block: block }, with_context = false) %}
{% set textStyle = include('components/text-style.twig', {field, post}) %}
{% set elementStyles = gridLayoutElement ~ textStyle %}

{% if field.rb_grouping_id is defined and field.rb_grouping_id is not empty %}
	<div class='{{blockClassName}}__rb-add-to-cart rb-add-to-cart'>
		<h4>{{__('Enter your address to check online availability', 'Jefferson Theme')}}</h4>

		<div class="rb-add-to-cart-wrapper">
			<div liquid-address-typeahead></div>
			<div liquid-id="GROUPING-{{field.rb_grouping_id}}">
				<div liquid-fulfillment-method-selector></div>
				<div class="rb-add-to-cart-ctas">
					<div liquid-qty-selector>
						<select disabled class="liquid-cart-qty-selector">
							<option value="1">1</option>
						</select>
					</div>
					<div liquid-atc onclick="liquidSDK.cart.toggle();">
						<button disabled class="liquid-cart-atc">Add to Cart</button>
					</div>
				</div>

				{# <a href="#storelocator" title="{{__('Find Jefferson’s Reserve nearby', 'Jefferson Theme')}}" class="wtb-cta">{{__('Find Jefferson’s Reserve nearby', 'Jefferson Theme')}}</a> #}
			</div>
		</div>
	</div>
{% endif %}
