{% set gridLayoutElement = include('components/grid-layout-element.twig', { fields: field, block: block }, with_context = false) %}


{% set mediaItems = get_posts({

						'post_type' : 'pr_social_media_item',
						'posts_per_page' : 1,
						'post_status' : 'publish',
						'pr_social_account' : fields[postType],
						'lang' : site.language,
						'suppress_filters' : false})
	%}
{% set socialMediaImages = [] %}
{% for mediaItem in mediaItems %}
	{% set socialMediaImages = socialMediaImages|merge([mediaItem.thumbnail]) %}
{% endfor %}


{% set imageWidthPercentMobile = '--post-image-width-mobile: ' ~ field.post_image_width ~ '%;' %}
{% set imageWidthPercentDesktop = '--post-image-width-desktop: ' ~ field.post_image_width ~ '%;' %}

{% set styleVars = imageWidthPercentDesktop ~ imageWidthPercentMobile ~ imageWidthPercentMobilePx ~ imageWidthPercentDesktopPx %}

<a href="{{post.link}}" class="{{blockClassName}}__post-image-container {{blockClassName}}__info-item {{blockClassName}}__info-item--{{postType}} {{blockClassName}}__post-image-container--{{imageSelect}} pattern-link" style="{{styleVars}} {{gridLayoutElement}} {{positionVars}}">

	{% set imageSizes = '(min-width: 1440px) 50vw, (min-width: 768px) 50vw, (min-width: 500px) 50vw, 100vw' %}
	{% set imageFields = [] %}
	{% set imageFields = imageFields|merge({'enable_image' : true}) %}
	{% set imageClassname = 'post-info__social-media-item' %}

	{% set imageFields = imageFields|merge({'image' : socialMediaImages.0.id}) %}
	{{ include('components/single-image.twig', {fields : imageFields, block : block, blockClassName : imageClassname, desktopSizes: imageSizes}, with_context = false) }}

</a>
