{% set menudata = {} %}
{% if fields.acf_fc_layout == 'nav_menu_v3' %}
	{% if fields.menu|ru == 'primary-menu' %}
		{% set menudata = menudata|merge({'menu' : options.nav_menus.primary_menu }) %}
	{% endif %}
	{% if fields.menu|ru == 'secondary-menu' %}
		{% set menudata = menudata|merge({'menu' : options.nav_menus.secondary_menu }) %}
	{% endif %}
	{% if fields.menu|ru == 'tertiary-menu' %}
		{% set menudata = menudata|merge({'menu' : options.nav_menus.tertiary_menu }) %}
	{% endif %}
	{% if fields.menu|ru == 'legal-menu' %}
		{% set menudata = menudata|merge({'menu' : options.nav_menus.legal_menu }) %}
	{% endif %}
	{% if fields.menu|ru == 'social-menu' %}
		{% set menudata = menudata|merge({'menu' : options.nav_menus.social_menu }) %}
	{% endif %}
	{% if fields.menu|ru == 'footer-navigation-menu' %}
		{% set menudata = menudata|merge({'menu' : options.nav_menus.footer_navigation_menu }) %}
	{% endif %}
	{% if fields.menu|ru == 'footer-navigation-menu-secondary' %}
		{% set menudata = menudata|merge({'menu' : options.nav_menus.footer_navigation_menu_secondary }) %}
	{% endif %}
	{% if fields.menu|ru == 'footer-navigation-menu-tertiary' %}
		{% set menudata = menudata|merge({'menu' : options.nav_menus.footer_navigation_menu_tertiary }) %}
	{% endif %}
	{% if fields.menu|ru == 'footer-navigation-menu-quaternary' %}
		{% set menudata = menudata|merge({'menu' : options.nav_menus.footer_navigation_menu_quaternary }) %}
	{% endif %}
{% endif %}

{% set menu = menudata.menu %}
{% set alignmentDesktop = '--alignment-desktop: ' ~ fields.alignment_desktop|ru ~ ';' %}
{% set alignmentPortrait = '--alignment-portrait: ' ~ fields.alignment_portrait|ru ~ ';' %}
{% set alignmentMobile = '--alignment-mobile: ' ~ fields.alignment_mobile|ru ~ ';' %}
{% set alignment = alignmentDesktop ~ alignmentPortrait ~ alignmentMobile %}

<nav class="{{blockClassName}}__nav-menu-v3 {{blockClassName}}__nav-menu--{{menu.name|lower}}" style="{{alignment}}">

	{% set direction = '--menu-direction: ' ~ fields.menu_direction|ru ~ ';' %}
	{% set directionPortrait = '--menu-direction-portrait: ' ~ fields.menu_direction_portrait|ru ~ ';' %}
	{% set directionMobile = '--menu-direction-mobile: ' ~ fields.menu_direction_mobile|ru ~ ';' %}
	{% set gapString = '--gap-mobile: ' ~ fields.gap_mobile ~ '; --gap-portrait: ' ~ fields.gap_portrait ~ '; --gap-desktop: ' ~ fields.gap_desktop ~ ';' %}
	{% set styleString = direction ~ directionPortrait ~ directionMobile ~ gapString %}


	{% if menu.items is defined and menu.items is not empty %}
		<ul class="{{blockClassName}}__nav-menu-list" style="{{styleString}}">
			{% for item in menu.items %}
				<li class="{{ item.class }} {{blockClassName}}__nav-menu-list-item nav-menu__item">
					<a class="{{blockClassName}}__nav-menu-link nav-menu__item-link {{blockClassName}}__nav-menu-link cmpl-cta-style-{{fields.cta_style|ru}}" target="{{item.target}}" href="{{item.url}}">
						<span class="cmpl-cta-span">{{item.name}}</span>

						{% if item.children is defined and item.children is not empty %}
							<div class="{{blockClassName}}__nav-menu__sub-nav">
								<ul class="{{blockClassName}}__nav-menu__sub-nav-container">
									{% for child in item.children %}
										<li class="{{ child.class }} {{blockClassName}}__nav-menu__nav-item {{blockClassName}}__nav-menu__sub-nav-item">
											<div class="{{ item.class }} {{blockClassName}}__nav-menu__sub-nav-item-main">
												<a class="{{blockClassName}}__nav-menu__link {{blockClassName}}__nav-menu__sub-nav-link {{blockClassName}}__nav-menu-link cmpl-cta-style-{{fields.cta_style|ru}}" href="{{ child.url }}">
													<span class="cmpl-cta-span">{{ child.name }}</span>

												</a>
											</div>
										</li>
									{% endfor %}
								</ul>
							</div>
						{% endif %}
					</a>
				</li>
			{% endfor %}
		</ul>
	{% endif %}
</nav>
