{% set gridLayoutElement = include('components/grid-layout-element-v3.twig', { fields: field, block: block }, with_context = false) %}
{% set textStyle = include('components/text-style.twig', {field, post}) %}
{% set elementStyles = gridLayoutElement ~ textStyle %}
{% set display_options = field.display_settings.options|join(', ')|replace({'__': ""}) %}
{% if display_options is empty %}
	{% set display_options = 'stars' %}
{% endif %}
<style>
	.{{blockClassName}}__better-reviews.{{block.id}}{
		{{elementStyles}}
	}
</style>
<div class="{{blockClassName}}__better-reviews {{blockClassName}}__info-item {{field.text_style.typography_style|ru}} {{block.id}}">
	{{function( 'do_shortcode', '[better-reviews post_id=' ~ post.id ~ ' display="' ~ display_options ~ '"]' )|raw}}
</div>
