{% set gridLayoutElement = include('components/grid-layout-element.twig', { fields: field, block: block }, with_context = false) %}
{% set imageSelect = field.image_select|ru %}
{% set globalImageFitStyle = '--global-image-fit-style: ' ~ field.global_image_fit_style|ru ~ ';' %}
{% set globalImageWidth = '--global-image-width: ' ~ field.global_image_width ~ '%;' %}
{% set globalImageMaxWidth = '--global-image-max-width: ' ~ field.global_image_max_width|ru ~ ';' %}
{% set globalImageZindex = '--global-image-zindex: ' ~ field.global_image_zindex ~ ';' %}
{% set globalImagePosition = '--global-image-position: ' ~ field.global_image_position|ru ~ ';' %}
{% set styleVars = globalImageWidth ~ globalImageMaxWidth ~ globalImageFitStyle ~ globalImageZindex ~ globalImagePosition %}
<style>
	.{{blockClassName}}__global-image-container.{{block.id}} {
		{{elementStyles}}; 
		{{styleVars}}
	}
</style>
<div class="{{blockClassName}}__global-image {{blockClassName}}__global-image-container {{blockClassName}}__info-item {{block.id}}">
	{% set imageSizes = '(min-width: 768px) 10vw, (min-width: 500px) 10vw, 100vw' %}
	{% set imageFields = [] %}
	{% set imageFields = imageFields|merge({'enable_image' : true}) %}
	{% set imageClassname = 'post-info__global-image' %}
	{% set imageFields = imageFields|merge({'desktop_image' : options.global_images[imageSelect]['global_image']}) %}
	{{ include('components/responsive-image.twig', {fields : imageFields, block : block, blockClassName : imageClassname, desktopSizes: imageSizes}, with_context = false) }}
</div>
