{% set gridLayoutElement = include('components/grid-layout-element-v3.twig', { fields: field, block: block }, with_context = false) %}
{% set gradientVars =  include('components/gradient-overlay.twig', {fields: field}, with_context="false")  %}

<style>
	.{{blockClassName}}__gradient-overlay.{{block.id}}{
		{{elementStyles}}
		{{gridLayoutElement}}
	}
</style>
<div class="{{blockClassName}}__info-item {{blockClassName}}__gradient-overlay {{block.id}}"></div>
