{% set gridLayoutElement = include('components/grid-layout-element-v3.twig', { fields: field, block: block }, with_context = false) %}
{% set textEditorStyleVars = include('components/text-editor-settings-variables-v3.twig', { fields: field, block, blockClassName, is_preview }, with_context = false) %}
{% set textEditorContainerClasses = include('components/text-editor-settings-container-classes-v3.twig', { fields: field, block, blockClassName, is_preview }, with_context = false) %}
{% set textEditorElementClasses = include('components/text-editor-settings-element-classes-v3.twig', { fields: field, block, blockClassName, is_preview }, with_context = false) %}
{% set elementType = field.element_type|ru %}
<style>
	.{{blockClassName}}__post-info-subtitle.{{block.id}}{
		{{textEditorStyleVars}}
		{{gridLayoutElement}}
	}
</style>
<div class="{{blockClassName}}__content-container {{textEditorContainerClasses}} {{block.id}} {{blockClassName}}__info-item">
	<{{elementType|default('p')}} class="{{blockClassName}}__post-info-subtitle {{field.text_style.typography_style|ru}} {{block.id}}">{{post.post_info_subtitle}}</{{elementType|default('p')}}>
</div>
