{% set gridLayoutElement = include('components/grid-layout-element-v3.twig', { fields: field, block: block }, with_context = false) %}
{% set textStyle = include('components/text-style.twig', {field, post}) %}
{% set elementStyles = gridLayoutElement ~ textStyle %}
<style>
	.{{blockClassName}}__post-publish-date.{{block.id}}{
		{{elementStyles}}
		{{gridLayoutElement}}
	}
</style>
<{{field.text_style.text_element_type|ru}} class="{{blockClassName}}__post-publish-date {{blockClassName}}__info-item {{field.text_style.typography_style|ru}} {{block.id}}">{{field.enable_label ? '<span class="post-publish-date-label">' ~ field.label ~ '</span>' : ''}}
	<span class="{{blockClassName}}__post-publish-date-span" data-pattern-post-info="date">{{post.date}}</span>
</{{field.text_style.text_element_type|ru}}>
