{% set gridLayoutElement = include('components/grid-layout-element.twig', { fields: field, block: block }, with_context = false) %}
{% set textEditorStyleVars = include('components/text-editor-settings-variables-v3.twig', { fields: field, block, blockClassName, is_preview }, with_context = false) %}
{% set textEditorContainerClasses = include('components/text-editor-settings-container-classes-v3.twig', { fields: field, block, blockClassName, is_preview }, with_context = false) %}
{% set textEditorElementClasses = include('components/text-editor-settings-element-classes-v3.twig', { fields: field, block, blockClassName, is_preview }, with_context = false) %}
{% set elementType = field.element_type|ru %}

<style>
	.{{blockClassName}}__post-categories.{{block.id}}{
		{{textEditorStyleVars}}
	}
</style>
<div class="{{blockClassName}}__content-container {{textEditorContainerClasses}} {{block.id}}">
	<{{elementType|default('p')}} class="{{blockClassName}}__post-categories {{blockClassName}}__info-item {{field.text_style.typography_style|ru}} {{block.id}}" data-pattern-post-info="post_categories.0.name">{{post.categories.0.name}}</{{elementType|default('p')}}>
</div>
