{% set gridLayoutElement = include('components/grid-layout-element.twig-v3', { fields: field, block: block }, with_context = false) %}
{% set textEditorStyleVars = include('components/text-editor-settings-variables-v3.twig', { fields: field, block, blockClassName, is_preview }, with_context = false) %}
{% set textEditorContainerClasses = include('components/text-editor-settings-container-classes-v3.twig', { fields: field, block, blockClassName, is_preview }, with_context = false) %}
{% set textEditorElementClasses = include('components/text-editor-settings-element-classes-v3.twig', { fields: field, block, blockClassName, is_preview }, with_context = false) %}
{% set elementType = field.element_type|ru %}

<style>
	.{{blockClassName}}__post-tags.{{block.id}}{
		{{textEditorStyleVars}}
		{{gridLayoutElement}}
	}
</style>
<div class="{{blockClassName}}__post-tags {{blockClassName}}__info-item {{block.id}}">
	<div class="{{blockClassName}}__cta cmpl-cta-style-{{field.cta_style}}">{{post.tags.0.name}}</div>
</div>
