{% set gridLayoutElement = include('components/grid-layout-element.twig', { fields: field, block: block }, with_context = false) %}
{% set textStyle = include('components/text-style.twig', {field, post}) %}
{% set elementStyles = gridLayoutElement ~ textStyle %}
<style>
	.{{blockClassName}}__product-taste.{{block.id}} {
		{{elementStyles}}
	}
</style>
<{{field.text_style.text_element_type|ru}} class="{{blockClassName}}__info-item {{blockClassName}}__product-taste {{field.text_style.typography_style|ru}} {{block.id}}">
	{{field.enable_label ? '<span class="' ~ blockClassName ~ '__product-taste-label">' ~ field.label ~ ' </span>'}}<span data-pattern-post-info="product_taste">{{post.product_taste}}</span></{{field.text_style.text_element_type|ru}}>
