{% set gridLayoutElement = include('components/grid-layout-element.twig', { fields: field, block: block }, with_context = false) %}
{% set textStyle = include('components/text-style.twig', {field, post}) %}
{% set elementStyles = gridLayoutElement ~ textStyle %}
<style>
	.{{blockClassName}}__product-history.{{block.id}} {
		{{elementStyles}}
	}
</style>
<{{field.text_style.text_element_type|ru}} class="{{blockClassName}}__info-item {{blockClassName}}__product-history {{field.text_style.typography_style|ru}}">
	{{field.enable_label ? '<span class="' ~ blockClassName ~ '__product-history-label">' ~ field.label ~ ' </span>'}}<span class="pattern-product_history">{{post.product_history}}</span></{{field.text_style.text_element_type|ru}}>
