{% set textEditorStyleVars = include('components/text-editor-settings-variables-v3.twig', { fields, block, blockClassName, is_preview }, with_context = false) %}
{% set textEditorContainerClasses = include('components/text-editor-settings-container-classes-v3.twig', { fields, block, blockClassName, is_preview }, with_context = false) %}
{% set textEditorElementClasses = include('components/text-editor-settings-element-classes-v3.twig', { fields, block, blockClassName, is_preview }, with_context = false) %}
{% set elementType = fields.element_type|ru %}
<style>
	.{{blockClassName}}__content-container.{{block.id}}{
		{{textEditorStyleVars}}
	}
</style>
{% if fields.wysiwyg_editor %}
	<div class="{{blockClassName}}__content-container standard-content-box-wysiwyg-editor cmpl-text-editor-settings {{block.id}} {{textEditorContainerClasses}}">
		{% if fields.wysiwyg_editor is not empty %}
			<{{elementType}} class="{{textEditorElementClasses}}">
				{{fields.wysiwyg_editor|striptags('<br>, <a>, <em>, <i>, <span>, <strong>')|raw}}
			</{{elementType}}>
		{% endif %}
	</div>
{% endif %}
