{% set blockClassName = "market-selector-v3" %}

{% set classNameEntryPoint = include('entry-points/entry-point-classes.twig', { fields, block }, with_context = false) %}
{% set htmlEntryPoint = include('entry-points/entry-point-html-v3.twig', { fields, block, blockClassName, options, cta_styles, environment, market_settings, is_preview, nav_menus, imageSizes }, with_context = false) %}
{% set dataAttributeEntryPoint = include('entry-points/entry-point-data-attribute.twig', { fields, block }, with_context = false) %}
{% set styleEntryPoint = include('entry-points/entry-point-style-v3.twig', { fields, block, displaytype, is_preview }, with_context = false) %}
{% set previewEntryPoint = include('entry-points/entry-point-preview-info.twig', { fields, block, displaytype, is_preview }, with_context = false) %}


{% set sectionStyles =  styleEntryPoint %}
{% set selectorType = fields.selector_type|ru %}

{{previewEntryPoint}}
<style>
	.{{blockClassName}}.{{block.id}}{
		{{sectionStyles}}
	}
</style>

<section {{block.anchor ? "id=" ~ block.anchor : ''}} class="{{blockClassName}} {{block.className}} {{classNameEntryPoint}} lazy-fade" {{dataAttributeEntryPoint}} data-loadjs="false" data-blockid="{{block.id}}" data-assetkey="{{blockClassName}}">

	<div class="{{blockClassName}}__modal-header-container">
		<span class="{{blockClassName}}__modal-heading">{{fields.heading_text}}</span>
	</div>
	<div class="{{blockClassName}}__modal-markets-container">
		{% for language in languages %}
			<a class="{{blockClassName}}__market-link {{language['active'] ? "market-selector-v3__market-link--active" : ""}}" href=" {{ language[ 'url' ] }} " data-lang=" {{ language[ 'language_code' ] }} " aria-label=" view this page on the {{language[ 'native_name' ]}} market">{{ language[ 'native_name' ] }}</a>
		{% endfor %}
	</div>
	<div class="{{blockClassName}}__modal-logo-container">
		{% set logo = fields.logo %}
		{% set logoImage = get_image(logo) %}
		{% set isSVG = logoImage.post_mime_type == 'image/svg+xml' %}
		<span class="{{blockClassName}}__modal-logo">
			{{ isSVG ? get_raw_svg(logoImage.id) : '<img class="" src="' ~ logoImage.src ~ '">'}}
		</span>
	</div>

	{{htmlEntryPoint}}
</section>
